<div>
  {{!--name is retrieved from other-cool-component.js file. name was simply defined there--}}
  <h4>{{title}} - {{name}}</h4>
  {{!--The content of this component will be rendered from this yield tag--}}
  {{yield}}
</div>

