
@import "ember-bootstrap/bootstrap";

.menu-options li {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
}

.navbar {
  background-color: #677ae4;
  background-color: #05526A;
  background-color: #e46855;
}

.navbar h1, li {
  color: white;
}

.menu-options .active {
  font-weight: bold;
  font-style: italic;
}

.body {
  background-color: lightgrey;
  padding: 16px;
}
