<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    {{#link-to "index"}}
      <h1 class="navbar-text">Udemy Ember</h1>
    {{/link-to}}

      <ul class="nav nav-pills menu-options">
        {{#link-to "posts"}}
        <li>Posts</li>
        {{/link-to}}
        {{#link-to "about"}}
        <li>About Us</li>
        {{/link-to}}
        {{#link-to "services"}}
        <li>Services</li>
        {{/link-to}}
        {{#link-to "cars"}}
        <li>Cars</li>
        {{/link-to}}
        {{#link-to "users"}}
        <li>Users</li>
        {{/link-to}}
      </ul>
  </div>
</nav>

<div class="body">
  {{outlet}}
</div><!-- /.container -->